{% extends 'base.html.twig' %}

{% block title %}Travel Offers{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="display-3 mb-5 text-center" style="font-weight: bold;">Our Travel Offers</h1>

    <div class="offers-list">
        {% for key, offer in offers %}
            <div class="card mb-5 shadow-lg">
                <div class="row g-0 align-items-center">
                    <div class="col-md-4">
                        {% for img in offer.image %}
                            <img src="{{ img }}" class="img-fluid rounded-start mb-2" alt="{{ offer.destination }}">
                        {% endfor %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h2 class="card-title" style="font-size: 2rem; font-weight: bold;">{{ offer.destination }}</h2>
                            <p class="card-text" style="font-size: 1.2rem;">
                                Prix: €{{ offer.price }}
                            </p>
                            <a href="{{ path('app_description', {'destination': offer.destination}) }}" class="btn btn-primary btn-lg">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucune offre disponible pour le moment.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
