{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ form.vars.value.id ? 'Modifier un service' : 'Ajouter un service' }}</h1>

{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}
    {{ form_row(form.imageFile) }}
    <button class="btn btn-success">Enregistrer</button>
{{ form_end(form) }}
{% endblock %}

